.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;

}
.about{
    text-align: center;
    font-size: 55px;
    background-color: white;
    font-weight: bold;

    padding: 20px;
}
