*{
    margin: 0px;
    padding: 0px;
}
/* .click{
    color: blue;
    cursor: url(sad_emoji.png),auto;
    background-color: aquamarine; */
/* } */
.container{
    display: flex;
    justify-content: center
}
.box1{
    background-color: rgb(255, 0, 64);
    width: 150px;
    padding: 20px;
}
.box2{
    background-color: blue;
    width: 150px;
    padding: 20px;
}.box3{
    background-color: blueviolet;
    width: 150px;
    padding: 20px;
}
